PROJECT_Name="SynexFlow"

BACK_PORT=SynexFlow
BACK_MONGODB_URI=SynexFlow
BACK_MONGODB_NAME="SynexFlow"

STATIC="./media"
LOGS="./logs"

BACK_SECRET="SynexFlow"

BACK_EmailHost="SynexFlow"
BACK_EmailPort=""

BACK_EmailUser=""
BACK_EmailPass=""

DEV_Email="vinos.ben@gmail.com"

NODE_ENV="development"
MAIN_URL="SynexFlow"

CLOUDINARY_CLOUD_NAME="SynexFlow"
CLOUDINARY_API_KEY="SynexFlow"
CLOUDINARY_API_SECRET="SynexFlow"
FCM_SERVICE_ACCOUNT_PATH="SynexFlow"

DISCORD_CLIENT_ID="SynexFlow"
DISCORD_CLIENT_SECRET="SynexFlow"
DISCORD_CLIENT_TOKEN="SynexFlow"
DISCORD_REDIRECT_URI="SynexFlow"
