<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="theme-color"
            media="(prefers-color-scheme: light)"
            content="white"
        />
        <meta
            name="theme-color"
            media="(prefers-color-scheme: dark)"
            content="black"
        />
        <link rel="manifest" href="{MediaRoute}/manifest.json" />
        <title>Awwwwww</title>
    </head>
    <body>
        <script>
            setTimeout(function () {
                window.location.href = 'https://github.com/z-sohaib'
            }, 2500)
        </script>
    </body>
</html>
